
.person_image
{height: 100px;
  width: 80px;
  position:relative;
  top: 5px;
  left:3px;
  border: solid;
  border-width:2px;
}

h1 {text-align: center}

.day-box {background-color:white;
margin: 35px;
padding: 5px;
border-radius: 20px;
box-shadow: 10px 10px 10px 10px white; 
}

.day { font-size: 20px;
}

.assignment-label { float:left;
}

body {background-image: url("https://lightroom.adobe.com/v2c/catalogs/b71331f1e6324539ad7f632238ec6fc7/assets/38a489b7a7a343ce8636b99cbcf41ed6/revisions/659b548a5fd442ae860ca6f6c83b7940/renditions/695045da63cfb984a95a93203878d262");
}

.person_info{background-color:white;
width: 90px;
border: solid;
}
.nav{position:absolute;
top: 140px;
background-color:cornsilk;
padding: 8px;
border:solid;
border-width: 2px;}

h1{position: relative;
top: 20px;
background-color:white;
border-radius: 20px;
box-shadow: 10px 10px 10px;
border:solid;
border-width: 1px;}

.nav a{border:solid;
border-width:2px;
border-radius: 15px;
padding: 5px;
margin: 4px;
border-color:black;
}


h1{position: relative;
top: 20px;
background-color:white;
border-radius: 20px;
box-shadow: 10px 10px 10px;
border:solid;
border-width: 1px;}

.nav a{border:solid;
border-width:2px;
border-radius: 15px;
padding: 5px;
margin: 4px;
border-color:black;
}


td{background-color: white;
border-radius:50px;
font-size: 20px;
position: relative;
top: 25px;
margin: 50px;
text-align:center;
box-shadow: 10px 10px 10px 10px  white;}

th{
background-color: white;
border-radius: 20px;
padding: 20px;
background-image: url("https://cdn.pixabay.com/photo/2019/12/07/17/28/grass-4679747_1280.png"); 
border-width: 10px;
}



table{ border-spacing:35px;}
