
.person_image
{height: 100px;
  width: 80px;
  position:relative;
  top: 5px;
  left: 3px;
  border: solid;
  border-width:2px;
}

h1 {text-align: center}

.day-box {background-color:white;
margin: 35px;
padding: 5px;
border-radius: 20px;
box-shadow: 10px 10px 10px 10px white; 
}

.day { font-size: 20px;
}

.assignment-label { float:left;
padding-right: 15px;}

.day{text-align:center;}



body {background: rgb(2,0,36); 
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,46,121,1) 1%, rgba(0,212,255,1) 82%);
}


.person_info{background-color:white;
width: 90px;
border: solid;
}


h1{position: relative;
top: 20px;
background-color:white;
border-radius: 20px;
box-shadow: 10px 10px 10px;
border:solid;
border-width: 1px;}


.account_form{
  position:relative;
  top: 50px
}
label{float: left;
clear: both;}
input{float: right;
clear:both}

.account_form .person_image {display:block;
margin:auto;
width: 375px;
height: 563px;}


.person_image
{height: 100px;
  width: 80px;
  position:relative;
  top: 5px;
  left: 3px;
  border: solid;
  border-width:2px;
}

h1 {text-align: center}

.day-box {background-color:white;
margin: 35px;
padding-left: 20px;
border-radius: 20px;
box-shadow: 10px 10px 10px 10px white; 
}

.day { font-size: 20px;
}


.person_info{background-color:white;
width: 90px;
border: solid;
}
.nav{position:absolute;
top: 140px;
background-color:saddlebrown;
padding: 8px;
border:solid;
border-width: 2px;
text-align:center;
width: 100%}

h1{position: relative;
top: 20px;
background-color:white;
border-radius: 20px;
box-shadow: 10px 10px 10px;
border:solid;
border-width: 1px;}

.nav a{
border-width:2px;
border-radius: 15px;
padding: 15px;
margin: 4px;
color: white; 
background-image: url ("https://cdn.pixabay.com/photo/2014/12/21/23/54/bush-576310_960_720.png");

}

.account_form{
  position:relative;
  top: 50px
}
label{float: left;
clear: both;}
input{float: right;
clear:both}

.account_form .person_image {display:block;
margin:auto;
width: 375px;
height: 563px;}


th{ background-color: white;
border-radius: 50px;
padding: 10px;
position: relative;
top: 20px;
} 

td {background-color: white;
position:relative;
top: 30px;
border-radius: 50px;
text-align: center;
font-size: 16px;
box-shadow: 10px 10px 10px 10px white;}

table{border-spacing: 30px;}

.header{background-image: url("https://www.nps.gov/grca/learn/nature/images/fir_aspen.jpg?maxwidth=1200&maxheight=1200&autorotate=false")};


